<h1>My posts in <%= @place["name"] %></h1>

<% for post in @posts %>
<p>
  <h3><%= post["title"] %></h3>
  <ul><%= post["posted_on"] %></ul>
  <ul><%= post["description"] %></ul>
</p>
<% end %>

<p> </p>
<p><a href= "/posts/new?place_id=<%= @place["id"] %>"> New Post </a></p>

<p><a href= "/places"> Back to all places I've been</a></p>

